@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(
    90deg,
    rgba(61, 60, 82, 1) 0%,
    rgba(165, 165, 181, 1) 47%,
    rgba(129, 152, 157, 1) 96%
  );
  height: 100vh;
}

nav {
  background: linear-gradient(
    90deg,
    rgb(28, 57, 63) 10%,
    rgb(34, 34, 43) 50%,
    rgb(64, 32, 68) 98%
  );
}

.card {
  gap: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  height: 280px;
}

footer {
  background: linear-gradient(
    90deg,
    rgb(28, 57, 63) 10%,
    rgb(34, 34, 43) 50%,
    rgb(64, 32, 68) 98%
  );
}
